### åˆæœŸè¨­å®š

In [ ]:
# --- NotebookåˆæœŸè¨­å®š ---
%load_ext autoreload
%autoreload 2
from utils.data_loarder import load_csv_to_db, get_pivot_from_db
import utils.config as cfg
import utils.data_visualize as dv
import utils.data_pivot_from_DB as dp
print("ğŸ” autoreload æœ‰åŠ¹åŒ–å®Œäº†")
import os
import pandas as pd
import plotly.express as px
import yaml

# è¨­å®šèª­ã¿è¾¼ã¿
settings = cfg.load_settings("setting.yaml")
display(settings)

In [ ]:
csv_files = {}
for file in settings["files"]["raw"]:
    csv_files[settings["files"]["raw"][file]] = os.path.join(settings["data_path"]["raw"],"",settings["files"]["raw"][file]) 
#print(csv_files)
DB_PATH_FINANCE = os.path.join(settings["database_path"],"",settings["database"]["finance"])

load_csv_to_db(
    csv_files=csv_files,
    db_path=DB_PATH_FINANCE
)

### å‹•ä½œç¢ºèª

#### _________ãƒ€ãƒƒã‚·ãƒ¥ãƒœãƒ¼ãƒ‰

In [ ]:
graphs = []   
# 1. ç·è³‡ç”£æ¨ç§»
pivot = get_pivot_from_db(DB_PATH_FINANCE, "è³‡ç”£è©³ç´°", "date", ["è³‡ç”£ã‚¿ã‚¤ãƒ—"],["è³‡ç”£é¡"],"sum").sum(axis=1)
pivot_target = get_pivot_from_db(DB_PATH_FINANCE, "è³‡ç”£ç›®æ¨™å€¤", "date", ["è³‡ç”£ã‚¿ã‚¤ãƒ—"],["è³‡ç”£é¡"],"sum").sum(axis=1)
df = pd.concat([pivot, pivot_target], axis=1, keys=["å®Ÿç¸¾", "ç›®æ¨™"])

fig = px.line(df, x=df.index, y=df.columns, title="ç·è³‡ç”£æ¨ç§»", labels={"date": "æ—¥ä»˜", "values":"è³‡ç”£é¡","variable":""}, template="plotly_dark")
fig.update_xaxes(tickformat="%y/%m/%d")
fig.update_layout(autosize=True, margin=dict(l=10,r=10,t=30,b=30))
fig.show()

# 2. ãƒˆãƒ¼ã‚¿ãƒ«ãƒªã‚¿ãƒ¼ãƒ³æ¨ç§»
pivot = get_pivot_from_db(DB_PATH_FINANCE, "è³‡ç”£è©³ç´°", "date", ["è³‡ç”£ã‚¿ã‚¤ãƒ—"],["ãƒˆãƒ¼ã‚¿ãƒ«ãƒªã‚¿ãƒ¼ãƒ³"],"sum").sum(axis=1).cumsum()
pivot_target = get_pivot_from_db(DB_PATH_FINANCE, "è³‡ç”£ç›®æ¨™å€¤", "date", ["è³‡ç”£ã‚¿ã‚¤ãƒ—"],["ãƒˆãƒ¼ã‚¿ãƒ«ãƒªã‚¿ãƒ¼ãƒ³"],"sum").sum(axis=1)
df = pd.concat([pivot, pivot_target], axis=1, keys=["å®Ÿç¸¾", "ç›®æ¨™"])

fig = px.line(df, x=df.index, y=df.columns, title="ãƒˆãƒ¼ã‚¿ãƒ«ãƒªã‚¿ãƒ¼ãƒ³æ¨ç§»", labels={"date": "æ—¥ä»˜", "values":"ãƒªã‚¿ãƒ¼ãƒ³é¡","variable":""}, template="plotly_dark")
fig.update_xaxes(tickformat="%y/%m/%d")
fig.update_layout(autosize=True, margin=dict(l=10,r=10,t=30,b=30))
fig.show()

# 3. ä»»æ„ã‚°ãƒ©ãƒ•ï¼ˆå¾Œã§è¿½åŠ å¯èƒ½ï¼‰
# 4. ä¸€èˆ¬åæ”¯æ¨ç§»


# 5. ç‰¹åˆ¥åæ”¯æ¨ç§»
# 6. ä»»æ„ã‚°ãƒ©ãƒ•ï¼ˆå¾Œã§è¿½åŠ å¯èƒ½ï¼‰

In [ ]:
# ã‚°ãƒ©ãƒ•è¡¨ç¤º

In [17]:
pivot = get_pivot_from_db(DB_PATH_FINANCE, "è³‡ç”£è©³ç´°", "date", ["è³‡ç”£ã‚¿ã‚¤ãƒ—"],["ãƒˆãƒ¼ã‚¿ãƒ«ãƒªã‚¿ãƒ¼ãƒ³"],"sum").cumsum()
pivot

           ãƒˆãƒ¼ã‚¿ãƒ«ãƒªã‚¿ãƒ¼ãƒ³
è³‡ç”£ã‚¿ã‚¤ãƒ—         ãƒªã‚¹ã‚¯è³‡ç”£     å®‰å…¨è³‡ç”£
date
2024-12-01      0.0     25.0
2024-12-02   8326.0     25.0
2024-12-03   2592.0     25.0
2024-12-04   6440.0     25.0
2024-12-05   5681.0     25.0
...             ...      ...
2025-10-15 -48818.0  87371.0
2025-10-16   4611.0  87371.0
2025-10-17  21918.0  87371.0
2025-10-18  -2446.0  57371.0
2025-10-19   4611.0  58855.0

[323 rows x 2 columns]

### SQLiteé–¢é€£

In [ ]:
conn = sqlite3.connect(DB_PATH_FINANCE)
cur = conn.cursor()

# .csvä»˜ãã®ãƒ†ãƒ¼ãƒ–ãƒ«ã‚’å‰Šé™¤
for table in ["è³‡ç”£è©³ç´°.csv", "åæ”¯è©³ç´°.csv", "è³‡ç”£ç›®æ¨™å€¤.csv"]:
    cur.execute(f'DROP TABLE IF EXISTS "{table}"')
    print(f"å‰Šé™¤: {table}")

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect(DB_PATH_FINANCE)
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
conn.close()

print(tables)